/* Basic Reset */
body, h1, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Times New Roman', Times, serifserif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header Styling */
h1 {
    color: #333;
    margin-bottom: 20px;
    
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.btn-success {
    background-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
}

/* Action Buttons */
.action-buttons {
    color: #dc3545;
    background-color: #FFF;
    margin-bottom: 20px;
}

/* Back Button Styling */
.back-button {
    color: #fff;
    background-color: #333;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

/* List Styling */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Form Styling */
form {
    display: inline;
}

/* Login Page Styling */
.login-container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #3e8e41;
}
/* Container Styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(44, 20, 20, 0.1);
}
